/* Cards.css */

.responsive-card-group {
  padding: 2rem;
  display: flex; 
  flex-wrap: wrap; /* Allow cards to wrap on small screens */
  justify-content: center; /* Center cards horizontally */
}

.responsive-card-group .ui.card.group .ui.card {
  flex: 1 0 calc(33.33% - 1rem); /* Base size for responsive layout */
  margin: 0.5rem; /* Add spacing between cards */

  /* Adapt card styles for larger screens (optional) */
  @media (min-width: 768px) {
    flex: 1 0 calc(25% - 1rem); /* Adjust size on medium screens */
  }

  @media (min-width: 1024px) {
    flex: 1 0 calc(20% - 1rem); /* Adjust size on large screens */
  }
}

@media (max-width: 600px) {
  .responsive-card-group .ui.card.group .ui.card img {
    max-height: 80px;
  }
}