/* Estilos base */
.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide:hover .carousel-image {
  transform: scale(1.05);
}

.carousel-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* Estilos específicos de Pure-React-Carousel */
.pure-react-carousel .carousel__inner-slide {
  width: 25%;
  height: 0;
  padding-bottom: 56.25%; /* Proporción de aspecto 16:9 para pantallas grandes */
  position: relative;
}

.pure-react-carousel .carousel__inner-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (max-width: 768px) {
  .pure-react-carousel .carousel__inner-slide {
    padding-bottom: 70%; /* Aumenta el valor para incrementar la altura en móviles */
    display: flex;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .pure-react-carousel .carousel__inner-slide {
    padding-bottom: 90%; /* Proporción de aspecto aún mayor en dispositivos muy pequeños */
  }
}
