/* Footer.css */
.icon-facebook {
  color: blue;
}

.icon-twitter {
  color: #FFFFFF;
}

.icon-instagram {
  color: #FFFFFF;
}

.icon-linkedin {
  color: #FFFFFF;
}

.information-list a {
  color: #FFFFFF;
  font-weight: bold;
}